In [1]:
kota = ['jakarta','jkrta','jakarta selatan','bndung','bandung','aceh','kalimantan']

In [2]:
import pandas as pd
from fuzzywuzzy import process
from fuzzywuzzy import fuzz

C:\Phyton\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
daftar_kota = pd.DataFrame(kota)
ini_jakarta_test = []
ini_jakarta_hei = []
ini_bandung_hei = []
ini_other = []

In [4]:
jakarta_prob = process.extract( 'Jakarta', daftar_kota[0],limit=100,scorer=fuzz.token_sort_ratio)
bandung_prob = process.extract( 'Bandung', daftar_kota[0],limit=100,scorer=fuzz.token_sort_ratio)

In [5]:
jkt_prob = pd.DataFrame(jakarta_prob)
bdg_prob = pd.DataFrame(bandung_prob)

In [6]:
jkt_prob,bdg_prob

(                 0    1  2
 0          jakarta  100  0
 1            jkrta   83  1
 2  jakarta selatan   64  2
 3       kalimantan   47  6
 4             aceh   18  5
 5          bandung   14  4
 6           bndung    0  3,
                  0    1  2
 0          bandung  100  4
 1           bndung   92  3
 2       kalimantan   35  6
 3  jakarta selatan   18  2
 4             aceh   18  5
 5            jkrta   17  1
 6          jakarta   14  0)

In [7]:
merge = jkt_prob.merge(bdg_prob, left_on=0, right_on=0)

In [8]:
merge_new = merge.rename(columns={0: "kota", '1_x': "jakarta_prob", '1_y': "bandung_prob"})

In [9]:
merge_new

              kota  jakarta_prob  2_x  bandung_prob  2_y
0          jakarta           100    0            14    0
1            jkrta            83    1            17    1
2  jakarta selatan            64    2            18    2
3       kalimantan            47    6            35    6
4             aceh            18    5            18    5
5          bandung            14    4           100    4
6           bndung             0    3            92    3

In [10]:
for i in range(len(merge_new.index)):
            if merge_new.jakarta_prob[i] > 50:
                    ini_jakarta_hei.append(merge_new.kota[i])
            elif merge_new.bandung_prob[i] >50:
                    ini_bandung_hei.append(merge_new.kota[i])
            else:
                    ini_other.append(merge_new.kota[i])

In [11]:
ini_jakarta_hei

['jakarta', 'jkrta', 'jakarta selatan']

In [12]:
ini_bandung_hei

['bandung', 'bndung']

In [13]:
ini_other

['kalimantan', 'aceh']